<article id="home" class="active">
  <div class="background-grid">
      <div class="home-text">
        <p><span>Full Stack Developer - Ruby on Rails</span></p>
      </div>
  </div>
            <div class="social-bottom1">
              <ul class="bottom-social">
                <li class="icon-bottom"><a href="https://twitter.com/SeanFrederick7" target="_blank">&#xf099;</a></li>
                <li class="icon-bottom"><a href="https://linkedin.com/in/seanfred/" target="_blank">&#xf0e1;</a></li>
                <li class="icon-bottom"><a href="https://github.com/seanfred?tab=repositories" target="_blank">&#xf09b;</a></li>
                <li class="icon-bottom"><a href="https://plus.google.com/u/0/110208847982226163285/about/p/pub" target="_blank">&#xf0d5;</a></li>
              </ul>
            </div>


   </article>
