<article id="about" class="on">
      <div class="container">
        <div class="sixteen columns">
          <h1>About Me</h1>
        </div>
        <div class="sixteen columns">
          <div class="sep"></div>
        </div>
        <div class="sixteen columns">
          <p>I'm a full stack developer specializing in Ruby on Rails applications. I currently live in the Seattle area.</p>
        </div>
      </div>
      <div class="container">
        <div id="about-img-wrap">
          <div class="slider1">
            <div class="slide">
              <div class="eight columns">
                <img src="https://s3.amazonaws.com/seanfred/pics/seattle2.jpg" alt=""/>
              </div>
              <div class="eight columns">
                <img src="https://s3.amazonaws.com/seanfred/pics/seattle3.jpg" alt=""/>
              </div>
            </div>
            <div class="slide">
              <div class="eight columns">
                <img src="https://s3.amazonaws.com/seanfred/pics/seattle7.jpg" alt=""/>
              </div>
              <div class="eight columns">
                <img src="https://s3.amazonaws.com/seanfred/pics/seattle4.jpg" alt=""/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="skills">
        <div class="container">
          <div class="sixteen columns">
            <h3>My Skills</h3>
          </div>
          <div class="sixteen columns">
            <div class="sep1"></div>
          </div>
          <div class="eight columns">
                <ul class="skill">
                  <li><span class="bar bar-prc1"></span><p>Ruby on Rails</p></li>
                  <li><span class="bar bar-prc2"></span><p>CSS3</p></li>
                  <li><span class="bar bar-prc3"></span><p>jQuery</p></li>
                </ul>
          </div>
          <div class="eight columns">
                <ul class="skill">
                  <li><span class="bar bar-prc4"></span><p>Graphic Design</p></li>
                  <li><span class="bar bar-prc5"></span><p>Html5</p></li>
                  <li><span class="bar bar-prc6"></span><p>Databases</p></li>
                </ul>
          </div>
        </div>
      </div>


<div class="footer">
        <div class="container">
          <div class="sixteen columns">
            <a href="javascript:goTo('home');"><img src="https://s3.amazonaws.com/seanfred/pics/SEAN_FREDERICK_1+(1).png" alt=""/></a>
          </div>
          <div class="sixteen columns">
            <p>© 2013 Sean Frederick</p>
          </div>
          <div class="sixteen columns">
            <div class="social-bottom">
              <ul class="bottom-social">
                <li class="icon-bottom"><a href="https://twitter.com/SeanFrederick7" target="_blank">&#xf099;</a></li>
                <li class="icon-bottom"><a href="https://linkedin.com/in/seanfred/" target="_blank">&#xf0e1;</a></li>
                <li class="icon-bottom"><a href="https://github.com/seanfred?tab=repositories" target="_blank">&#xf09b;</a></li>
                <li class="icon-bottom"><a href="https://plus.google.com/u/0/110208847982226163285/about/p/pub" target="_blank">&#xf0d5;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </article>
